{% extends 'layout.html' %}
{% block content %}
    <h1>Login</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="content-section">
                <form method="POST" action="" >
                    <!-- form.hidden_tag() is a security function that forms part of the secret key protection -->
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Log In Here</legend>
                        <!-- The fields specified after "form." are the variable names specified in forms.py -->

                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}

                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                            <!-- If no error is found, accept the input-->
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}

                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label") }}

                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                            <!-- If no error is found, accept the input-->
                                {{ form.password(class="form-control form-control-lg") }}
                            {% endif %}

                        </div>

                        <div class="form-check">
                            {{ form.remember(class="form-check-input") }}
                            {{ form.remember.label(class="form-check-label") }}
                        </div>

                        <div class="form-group">
                            <!-- This is a bootstrap button class -->
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                        <!-- A href to # is a dummy link that you can fill in later -->
                        <small class="text-muted ml-2">
                            <a href="#">Forgot Password?</a>
                        </small>

                    </fieldset>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        <!-- <a></a> is an anchor tag where the class specifies some spacing and the href is a link to another page -->
                        Need an account? <a class="ml-2" href="#">Sign up here</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}